.contentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.minMaxContainer {
  display: flex;
  align-items: baseline;
}

.additionalInfoContainer {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.hourlyItemsContainer {
  display: flex;
  width: 100%;
  overflow: auto;
}

.hourlyItemContainer {
  flex: 1;
  width: 135px;
  margin: 8px;
}
